/* ------------------------- RESET CSS -------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: normal;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}




/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

div,
input,
p,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
    /* REMOVES ANY ON FOCUS ON DIVS */
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* ------------------------- END OF RESET CSS -------------------------- */

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.relative {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------- TRANSITIONS -------------------------- */

.effect1 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.effect2 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.effect3 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* ------------------------- FLEXBOX -------------------------- */

.flexCenter {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexRow {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flexColumn {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* ------------------------- HEADER -------------------------- */

#menu__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    #menu__container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #menu__container {
        max-width: 720px;
    }
}

@media (min-width: 980px) {
    #menu__container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #menu__container {
        max-width: 1140px;
    }
}

.main-menu {
    padding: 30px 0;
}

.nav__container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 2%;
    float: right;
    clear: both;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    background-color: #19202a;
}

#logo {
    color: #fff;
}

@media (max-width: 673px) {
    #logo {
        margin-left: 20px;
    }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    right: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */

.nav-menu {
    touch-action: pan-y;
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

@media (min-width: 980px) {
    .nav-menu a {
        font-size: 16px;
    }
}

.nav-menu li:hover>a {
    color: #fff123;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 22px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #8490ff;
}

.nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 22px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
    font-size: 25px;
}

@media (max-width: 991px) {
    #mobile-nav-toggle {
        display: inline-block;
    }
    #nav-menu-container {
        display: none;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #19202a;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
}

#mobile-nav ul li a:hover {
    color: #fff123;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-item-active {
    color: #fff;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/* ------------------------- TOP SECTION -------------------------- */

#top-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}

.info {
    padding: 15px;
}

@media (min-width: 768px) {
    .info .blue__square {
        border: 20px solid #dbf1ff;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -70%;
        left: -50%;
        z-index: 0;
    }
}

.info h1 {
    position: relative;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    margin-bottom: 2rem;
    z-index: 1;
}

.info p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    text-transform: capitalize;
    margin-bottom: 1rem;
    z-index: 1;
}

.info a {
    position: relative;
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    z-index: 1;
    letter-spacing: 2px;
}

.top__section__image {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: 600px;
    background: url("images/image001.jpeg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.services {
    padding: 80px 15px;
}

/* ------------------------- SERVICES -------------------------- */

#services {
    padding: 80px 15px;
}

#services .title {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.title p {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
}

.services_circle {
    background-color: #eef9ff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 23px;
}

.services_container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}

@media (min-width: 980px) {
    .services_container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
}

.box_blue {
    border-bottom: 2px solid #52b8ff;
}

.box_red {
    border-bottom: 2px solid #ff5253;
}

.box_yellow {
    border-bottom: 2px solid #ffc853;
}

.services_container h5 {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.box {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.box:hover {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
    box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
}

.fas {
    font-size: 2rem;
    margin-bottom: 2rem;
}


/* ------------------------- PORTFOLIO -------------------------- */

#portfolio-section {
    padding: 80px 15px;
}

.portfolio-title {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.portfolio-square {
    background-color: #ffeded;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 23px;
}

.portfolio-paragraph {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 300px;
}

@media (min-width: 980px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 300px;
    }
}

@media (min-width: 1200px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 300px;
    }
}

.portfolio-box {
    background-color: #000;
    display: block;
    width: 100%;
    cursor: pointer;
}

.portfolio-box:hover {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
    box-shadow: 0 40px 74px 23px rgba(0, 0, 0, 0.08);
}

.image1 {
    background: url("images/gif1.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 1200px) {
    .image1 {
        grid-column: 4 / 3;
        grid-row: 1 / 3;
    }
}

.image2 {
    background: url("images/image5.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 1200px) {
    .image2 {
        grid-column: 1 / 2;
        grid-row: 0 / 4;
    }
}

.image3 {
    background: url("images/image3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image4 {
    background: url("images/gif4.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image5 {
    background: url("images/gif5.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image6 {
    background: url("images/gif6.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image7 {
    background: url("images/gif7.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 1200px) {
    .image7 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

.image8 {
    background: url("images/gif8.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 1200px) {
    .image8 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}

.image {
    width: 100%;
    height: 100%;
}

.image:hover {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* ------------------------- EXPERIENCE -------------------------- */

#experience-section {
    padding: 50px;
    text-align: center;
    color: #c6e4ff;
}

@media (min-width: 1200px) {
    #experience-section {
        padding: 80px 15px;
    }
}

#experience-section .large-title {
    font-size: 2.5rem;
    left: 0;
    text-align: center;
    font-weight: 500;
}

@media (min-width: 768px) {
    #experience-section .large-title {
        color: #c6e4ff;
        font-weight: 700;
        font-size: 4.5rem;
        text-align: center;
    }
}

@media (min-width: 980px) {
    #experience-section .large-title {
        color: #c6e4ff;
        font-weight: 700;
        font-size: 4.5rem;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    #experience-section .large-title {
        color: #c6e4ff;
        font-weight: 700;
        font-size: 4.5rem;
        text-align: center;
    }
}

.experience-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .experience-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}


@media (min-width: 980px) {
    .experience-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media (max-width: 979px) {
    .large-icons {
        display: none;
    }
}

@media (min-width: 980px) {
    .experience-container .square {
        position: relative;
        left: 2rem;
        border: 20px solid #52b8ff;
        padding: 5px;
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .experience-container .square {
        position: relative;
        left: 5rem;
        border: 30px solid #52b8ff;
        padding: 5px;
        display: inline-block;
    }
}

@media (min-width: 980px) {
    .experience-container .square .blue-box {
        width: 150px;
        height: 150px;
        padding: 5px;
        background-color: #52b8ff;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 3px;
    }
}

@media (min-width: 1200px) {
    .experience-container .square .blue-box {
        width: 150px;
        height: 150px;
        padding: 5px;
        background-color: #52b8ff;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 3px;
    }
}

@media (min-width: 980px) {
    .experience-container .circle {
        position: relative;
        top: 12rem;
        left: 1rem;
        border: 20px solid #ffc853;
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {
    .experience-container .circle {
        position: relative;
        top: 12rem;
        left: 8rem;
        border: 30px solid #ffc853;
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
        text-transform: uppercase;
    }
}

@media (min-width: 980px) {
    .white-box {
        color: #ffc853;
        border-radius: 50%;
        height: 135px;
        width: 135px;
        font-size: 1rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
}

@media (min-width: 1200px) {
    .white-box {
        color: #ffc853;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        font-size: 1.1rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
}

@media (min-width: 980px) {
    .triangle {
        position: relative;
        margin-top: 17%;
        left: 5%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 150px 230px 150px;
        border-color: transparent transparent #ff5253 transparent;
    }
}

@media (min-width: 1200px) {
    .triangle {
        position: relative;
        margin-top: 17%;
        left: 30%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 150px 230px 150px;
        border-color: transparent transparent #ff5253 transparent;
    }
}

@media (min-width: 980px) {
    .triangle-box {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 93.75px 151.75px 93.75px;
        border-color: transparent transparent #fff transparent;
        left: -94px;
        top: 49px;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ff5253;
    }
}

@media (min-width: 1200px) {
    .triangle-box {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 93.75px 151.75px 93.75px;
        border-color: transparent transparent #fff transparent;
        left: -94px;
        top: 49px;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ff5253;
    }
}

@media (min-width: 980px) {
    .triangle-box .text {
        position: relative;
        top: 96px;
        left: 2px;
    }
}

@media (min-width: 1200px) {
    .triangle-box .text {
        position: relative;
        top: 96px;
        left: 2px;
    }
}

.info-box {
    padding: 15px;
}

@media (min-width: 768px) {
    .info-box {
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .info-box {
        padding: 25px;
    }
}

.info-box h4 {
    color: #16171b;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 0;
    display: block;
}

@media (min-width: 768px) {
    .info-box h4 {
        color: #16171b;
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 15px 0;
        display: block;
    }
}

@media (min-width: 980px) {
    .info-box h4 {
        color: #16171b;
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 15px 0;
        display: block;
    }
}

@media (min-width: 1200px) {
    .info-box h4 {
        color: #16171b;
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 15px 0;
        display: block;
    }
}

.info-box p {
    line-height: 1;
}

@media (min-width: 768px) {
    .info-box p {
        line-height: 1.5;
    }
}

/* ------------------------- BLOG -------------------------- */

#blog-section {
    padding: 100px 15px;
    background-color: #f9fafc;
}

#blog-section .title h1 {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}


/* ------------------------- TESTIMONIALS -------------------------- */


/* ------------------------- FOOTER -------------------------- */

footer {
    background-color: #f9fafc;
    padding: 15px 15px;
}

@media (min-width: 768px) {
    footer {
        padding: 30px 15px;
    }
}

@media (min-width: 980px) {
    footer {
        padding: 60px 15px;
    }
}

footer .social-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

footer .social-container a {
    font-size: 3rem;
    color: #8e8f91;
    display: inline-block;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .social-container a:hover {
    color: rgba(255, 53, 53, 1);
}

footer h5 {
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

footer h6 {
    font-size: 0.8rem;
    color: #000;
    text-transform: capitalize;
    text-align: center;
}